@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);

    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 9%);

    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);

    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 89.8%);
    --input: hsl(0 0% 89.8%);
    --ring: hsla(0, 0%, 4%, 0);

    --radius: 0.5rem;
  }

  .dark {
    --background: #0c0c0e;
    --foreground: hsl(0, 5%, 80%);

    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);

    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);

    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsla(0, 0%, 83%, 0);
  }
}

@layer base {
  html {
    @apply m-0 h-full w-full p-0;
  }
  * {
    @apply dark box-border border-border;
  }
  body {
    @apply m-0 h-full w-full bg-background p-0 text-foreground;
  }
}

@keyframes grainEffect {
  0% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  25% {
    transform: translate3d(-200px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, -200px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  75% {
    transform: translate3d(-200px, -200px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0px, -200px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}

.grain-effect {
  animation: grainEffect 2.5s steps(4) infinite;
  transform-style: preserve-3d;
}

.particle-mask {
  aspect-ratio: auto 1192 / 220;
  overflow-clip-margin: content-box;
}

.city-glow {
  background: rgba(255, 214, 68, 0.4);
  box-shadow:
    rgba(255, 214, 68, 0.4) 220px -29.8216px 240px,
    rgba(255, 214, 68, 0.4) -220px -29.8216px 240px;
  border-radius: 290px;
}

::selection {
  text-shadow:
    0 0 6px #cec9c9,
    0 0 20px rgba(206, 201, 201, 0.42);
}

.carousel-grad {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  height: 20vh;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0c0c0e),
    to(rgba(12, 12, 18, 0))
  );
  background-image: linear-gradient(180deg, #0c0c0e, rgba(12, 12, 18, 0));
}

.carousel-grad-top {
  height: 22vh;
}

.carousel-grad-bottom {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  height: 20vh;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0c0c0e),
    to(rgba(12, 12, 18, 0))
  );
  background-image: linear-gradient(0deg, #0c0c0e, rgba(12, 12, 18, 0));
}
