@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 3.9%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 3.9%);

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 3.9%);

    --primary: hsl(0 0% 9%);
    --primary-foreground: hsl(0 0% 98%);

    --secondary: hsl(0 0% 96.1%);
    --secondary-foreground: hsl(0 0% 9%);

    --muted: hsl(0 0% 96.1%);
    --muted-foreground: hsl(0 0% 45.1%);

    --accent: hsl(0 0% 96.1%);
    --accent-foreground: hsl(0 0% 9%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 89.8%);
    --input: hsl(0 0% 89.8%);
    --ring: hsla(0, 0%, 4%, 0);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(240, 8%, 5%);
    --foreground: hsl(0 0% 98%);

    --card: hsl(0 0% 3.9%);
    --card-foreground: hsl(0 0% 98%);

    --popover: hsl(0 0% 3.9%);
    --popover-foreground: hsl(0 0% 98%);

    --primary: hsl(0 0% 98%);
    --primary-foreground: hsl(0 0% 9%);

    --secondary: hsl(0 0% 14.9%);
    --secondary-foreground: hsl(0 0% 98%);

    --muted: hsl(0 0% 14.9%);
    --muted-foreground: hsl(0 0% 63.9%);

    --accent: hsl(0 0% 14.9%);
    --accent-foreground: hsl(0 0% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0 0% 14.9%);
    --input: hsl(0 0% 14.9%);
    --ring: hsla(0, 0%, 83%, 0);
  }
}

@layer base {
  * {
    @apply dark border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes grainEffect {
  0% {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  25% {
    transform: translate3d(-200px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, -200px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  75% {
    transform: translate3d(-200px, -200px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0px, -200px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}

.grain-effect {
  animation: grainEffect 2.5s steps(4) infinite;
  transform-style: preserve-3d;
}
